body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    font: normal 20pt sans-serif;
    justify-content: center;
}

input {
    display: flex;
    margin-bottom: 10px;
    width: 140px;
    height: 30px;
    border-radius: 10px;
}

input#txtr {
    width: 80px;
    height: 40px;
    font-size: 15px;
    background-color: green;
    font-weight: bold;
}

span {
    margin-top: 10px;
}

footer {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    border-top: solid gray;

    button {
        padding: 10px 20px;
        font-size: 15px;
        background-color: green;
        color: black;
        font-weight: bold;
    }

    .btn1 {
        border-radius: 20px 0 0 20px;
    }

    .btn10 {
        border-radius: 0 20px 20px 0;
    }
}