body {
    background-color: black;
    color: #267017;
    font: normal 20pt sans-serif;
}

footer {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    border-top: solid gray;

    button {
        padding: 10px 20px;
        font-size: 15px;
        background-color: green;
        color: black;
        font-weight: bold;
    }

    .btn1 {
        border-radius: 20px 0 0 20px;
    }

    .btn10 {
        border-radius: 0 20px 20px 0;
    }
}