body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    font: normal 20pt sans-serif;
    justify-content: center;
}

div#opcoes {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;

    label {
        display: flex;
        align-items: center;
        gap: 6px;
        cursor: pointer;
        font-size: 18pt;
    }

    input[type="radio"] {
        width: 20px;
        height: 20px;
        margin: 0;
        accent-color: green;
    }
}

small {
    margin-bottom: 5px;
}

input {
    display: flex;
    margin-bottom: 10px;
    width: 140px;
    height: 30px;
    border-radius: 10px;
}

input#verificar {
    width: 90px;
    height: 40px;
    font-size: 15px;
    background-color: green;
    font-weight: bold;
}

div#bloco {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    
    div#nacionalidade {
        display: flex;
        align-items: center;
        justify-content: center;
        background: darkgreen;
        color: white;
        margin-top: 20px;
        width: 300px;
        height: 200px;
        text-align: center;
    }

    div#residencia {
        display: flex;
        align-items: center;
        justify-content: center;
        background: darkgreen;
        color: white;
        margin-top: 20px;
        width: 300px;
        height: 200px;
        text-align: center;
    }
}

footer {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    border-top: solid gray;

    button {
        padding: 10px 20px;
        font-size: 15px;
        background-color: green;
        color: black;
        font-weight: bold;
    }

    .btn1 {
        border-radius: 20px 0 0 20px;
    }

    .btn10 {
        border-radius: 0 20px 20px 0;
    }
}